:root {
	--indent: 4ch;
	--minus-indent: -4ch;
}

.spell.array {
	padding-left: var(--indent);
}

.spell.array > span.bracket {
	margin-left: var(--minus-indent);
}

.spell.keyValuePair > span::after {
	content: ':';
}
